<!-- CODE A PLACER DANS TON FICHIER PRODUIT -->
        <div class="entoure-tout">
          <div class="entoure-ligne">
            <div class="entoure-icon">
              <i class="fas fa-shipping-fast"></i>
              <span>On ship très fast</span>
            </div>
            <div class="entoure-icon">
              <i class="fas fa-gem"></i>
              <span>Qualité au rendez-vous</span>
            </div>
          </div>
          <div class="entoure-ligne">
            <div class="entoure-icon">
              <i class="fab fa-cc-paypal"></i>
              <span>Tu peux payer par paypal</span>
            </div>
            <div class="entoure-icon">
              <i class="fab fa-stripe"></i>
              <span>Mais aussi par stripe</span>
            </div>
          </div>
        </div>
