/* CUSTOOOOM */

.product-form__item--no-variants {
    max-width: 100%;
}

.entoure-ligne {
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.entoure-icon i {
	color: #577961;
}
