<!-- A PLACER DANS LE FICHIER THEME.LIQUID -->

  {{ '//use.fontawesome.com/releases/v5.13.0/css/all.css' | stylesheet_tag }}
  {{ '//use.fontawesome.com/releases/v5.13.0/css/v4-shims.css' | stylesheet_tag }}
